* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tab-btn {
    border: 1px solid #ccc;
    outline: none;
    background-color: #f4f4f4;
    padding: 20px 40px;
    font-size: 1rem;
    cursor: pointer;
}

.tab-btn:hover {
    background-color: #ccc;
}

.tab-btn.active {
    background-color: #ccc;
}

.tabs-content-container {
    position: relative
}

.tab-content {
    visibility: hidden;
    transition: 1s all;
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

.tab-content.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}