* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion-content {
    display: flex;
}

.accordion-content>p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}


.accordion-item.active .accordion-content>p {
    max-height: 100vh;
}

.accordion-item {
    border: 1px solid #ccc;
}

.accordion-header {
    background-color: #e5e4e4;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}